<% document_types =  Refinery::Inquiries::document_types_human %>
<section id='documents' >
  <div class="note">
    <h4>Uploading documents</h4>
    <ul class='conditions'>
      <%if Refinery::Inquiries.documents_max_number == 1 %>
        <li><%= t('.one_document')%></li>
      <% else %>
        <li><%= t('.many_documents', quantity: Refinery::Inquiries.documents_max_number) %></li>
      <% end %>
      <li><%= t('.document_max_size', quantity: Refinery::Inquiries.document_max_size_human) %></li>
      <li><%= t('.document_types', types: document_types) %></li>
    </ul>
  </div>
    <%= f.label :documents %>
    <%= f.file_field :documents,
                     multiple: true,
                     id: :attached_files,
                     type: :file,
                     direct_upload: true %>
</section >
